<div class="card item-card shadow-lg">
  <table class="">
    <tbody>
      <thead>
        <tr>
          <th scope="col" colspan="3" class="text-center pt-3 pb-3" id="item-name">
            <%=item.name%>

            <% if (user && user.id == adminUser) { %>
            <div class="dropdown">
              <button class="btn btn-outline-dark ms-2" dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">. . .</button>
              <ul class="dropdown-menu">
                <li>
                  <form action="/<%=item._id%>/delete?_method=DELETE" method="POST">
                    <button class="dropdown-item" type="submit">Delete</a>
                  </form>
                </li>
              </ul>
            </div>
            <% } %> 
          </th>
        </tr>
      </thead>
      <tr>
        <td colspan="3" class="align-center text-center pt-3 pb-3" id="img-cell">
          <img src="<%= item.image %>" class="item-image w-75" />
          <% if(cart) { %>
          <!-- Searches cart list for this item -->
          <%itemFilter = cart.items.filter((i) => i.id === item.id)%> <%for (let item of itemFilter) { %>
          <div class="item-qty">{ <%=item.qty%> }</div>
          <% }} %>
        </td>
      </tr>

      <tr>
        <td class="pt-3 pb-3">
          <form action="/<%=item._id%>/remove-cart?_method=PUT" method="POST">
            <button class="btn btn-outline-danger offset-3 w-75 fw-semibold" id="quantityBtn">-</button>
          </form>
        </td>
        <td class="text-center align-center">$<%= item.price %></td>
        <td class="pt-3 pb-3">
          <form action="/<%=item._id%>/add-cart?_method=PUT" method="POST">
            <button class="btn btn-success w-75 fw-semibold" id="quantityBtn">+</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
