<div class="" style="font-size: x-large">
  <strong>Here is what you ordered:</strong>
</div>
<table class="table" style="margin-top: 10px">
  <% let itemCounter = 1%>
  <tbody>
    <% for(let item of cart.items) { %>
    <tr class="item-row">
      <th scope="" class="" style="padding: 0px 10px; font-size: x-large"><strong><%=itemCounter%></strong></th>
      <td class="" style="padding: 0px 20px"><img src="<%=item.image%>" alt="" class="" id="" style="width: 50px" /></td>
      <td class="" style="padding: 0px 20px; font-size: large"><%=item.name%></td>
      <td class="" style="padding: 0px 30px; font-size: large">
        <span id="">x<%=item.qty%></span>
      </td>
      <td class="" style="padding: 0px 30px; font-size: large">$<%=item.price * item.qty%></td>
    </tr>
    <%itemCounter++ } %>
  </tbody>
</table>
<div class="" style="margin-top: 10px; padding-left: 350px; font-size: x-large">
  <span class=""><strong>Total:</strong></span>
  <span class="" style="padding: 0px 20px"><strong>$<%=cart.totalPrice.toFixed(2)%></strong></span>
</div>
